name: CGL

on:
  workflow_call:
    inputs:
      php-version:
        required: false
        default: '8.3'
        type: string

jobs:
  cgl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          # @todo Use PHP 8.4 once PHP-CS-Fixer supports PHP 8.4
          php-version: ${{ inputs.php-version }}
          tools: composer:v2, composer-require-checker, composer-unused, cs2pr
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Validation
      - name: Validate composer.json
        run: composer validate

      # Install dependencies
      - name: Add required packages
        run: composer require composer/composer:"^2.2"

      # Check Composer dependencies
      - name: Check dependencies
        run: composer-require-checker check
      - name: Reset composer.json
        run: git checkout composer.json $(test -e composer.lock && echo composer.lock)
      - name: Re-install Composer dependencies
        uses: ramsey/composer-install@v3
      - name: Check for unused dependencies
        run: composer-unused

      # Linting
      - name: Lint composer.json
        run: composer cgl lint:composer
      - name: Lint Editorconfig
        run: composer cgl lint:editorconfig
      - name: Lint PHP
        run: composer cgl lint:php -- --format checkstyle | cs2pr

      # SCA
      - name: SCA PHP
        run: composer cgl sca:php -- --error-format github

      # Migration
      - name: Run Rector migration
        run: composer cgl migration:rector -- --dry-run
